div.zxf_pagediv {
	text-align: center;
	color: #999999;
	padding: 1em;
}

div.zxf_pagediv a {
	text-decoration: none;

}

div.zxf_pagediv span,
div.zxf_pagediv a {
	display: inline-block;
	box-sizing: border-box;
}

.current {
	color: #ffffff;
	background: #1ABC9C;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-radius: 3px;
	margin: 0 2px;
}

.zxfPagenum {
	color: #666;
	background: #fff;
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin: 0 2px;
	border-radius: 3px;
}

.nextpage {
	margin: 0 2px;
}

.nextbtn,
.prebtn,
span.disabled {
	color: #666;
	background: #fff;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-radius: 3px;
	margin-right: 2px;
}



.zxfinput {
	width: 50px;
	height: 42px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E6E6E6;
	margin: 0 12px;
	border-radius: 3px;
	color: #666;
}

.zxfokbtn {
	width: 48px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #E6E6E6;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 3px;
	background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}